<!DOCTYPE HTML>
<html lang="en">
<head>
<!-- Force latest IE rendering engine or ChromeFrame if installed -->
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<![endif]-->
<meta charset="utf-8">
<title>Mass Appraisal Soils</title>
<meta name="description" content="File Upload widget with multiple file selection, drag&amp;drop support, progress bars, validation and preview images, audio and video for jQuery. Supports cross-domain, chunked and resumable file uploads and client-side image resizing. Works with any server-side platform (PHP, Python, Ruby on Rails, Java, Node.js, Go etc.) that supports standard HTML form file uploads.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap styles -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-table.min.css">
<!-- Generic page styles -->
<link rel="stylesheet" href="css/style.css">
<!-- CSS adjustments for browsers with JavaScript disabled -->

<style>
.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

div.col-lg-12 {
	padding-left: 0;
	text-align: center;
}

td.col {
	font-weight: bold;
}

#startBtn {
//	text-align:center;
}
#signinContainer {
	display: block;
}
a.center{text-align:center}
p.name{float:right}
</style>

</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-fixed-top .navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Mass Appraisal Soils Analyzer</a>
        </div>
        <div class="navbar-collapse collapse">
					<p class='name'>Logged in as: <a href='/account'><%= user.displayName %></a> &nbsp;&nbsp;<a href='/logout'>Logout</a></p>        
				</div>
    </div>
</div>

<div class="container">
<!--
    <h1>Mass Appraisal</h1>
-->    
    <div class="jumbotron">
        <h4>Upload comparable sales and use the <a href='http://www.nrcs.usda.gov/wps/portal/nrcs/detail/soils/survey/?cid=nrcs142p2_053627'>USDA SSURGO (Soils) database</a> to identify independent variables to use for mass appraisal.</h4>
        Before uploading data files, please note:
        <ul>
        <li>Make sure you use meaningful names for your field names to help identify them during the regression process.</li>
        <li>Regression uses a variable Y, called the response, output or dependent variable.</li>
        <li>It also uses one or more predictor, input, independent or explanatory variables, X<sub>1</sub> ... X<sub>p</sub></li>
        <li>Regression only works with numeric data, so you may need to convert strings to numbers.</li>
        <li>Make sure you don't have missing data.  Valid data files are CSV, Excel, ESRI Shapefile and ESRI File Geodatabases.</li>
        <li>For ESRI Shapefiles (spatial data), make sure you have a .prj file identifying the projection.</li>
        <li>Non spatial data is allowed, but won't take advantage of the soils data.</li>
        </ul>
         
    </div>
<% if (!user) { %>
	<h2>Welcome! Please log in.</h2>
	<div id="startBtn">
	 		<a href="/auth/google"><img src='img/Red-signin-Long-press-44dp.png'></a>
	</div>
	
<% } else { %>
	
    
    <div class='col-lg-10'>
    <h4>Welcome, <%= user.displayName %>.</h4>
    </div>
    <div class='col-lg-2'>
    <div id="startBtn">
       <a href="/uploadfiles" class="btn btn-default btn-continue" id="continueBtn"> Add new data <i class="glyphicon glyphicon-arrow-right"></i></a>
    </div>
    </div>
		<br><br>
		<% if (files && files.length>0) { %>
		<table class="table">
                <tr>
                    <th>Filename</th>
                    <th>Type</th>
                    <th style="width:40%">Date loaded</th>
                    
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>                               
                <% for(var i = 0;i < files.length;i++) { %>                 
                <tr>
                    <td><%= files[i].name %></td>
                    <td><%= files[i].filetype %></td>
                    <td><%= files[i].date %></td>
                    <td>
                    <a href="/summary?tableName=<%= files[i].name %>" role="button" class="btn btn-primary"><i class="glyphicon glyphicon-stats"></i> View</a>
          					</td>
                    <td>
                    <a href="/delete?tableName=<%= files[i].name %>" role="button" class="btn btn-danger delete"><i class="glyphicon glyphicon-trash"></i> Delete</a>
          					</td>
                </tr>
              <% } %>
    </table>
    <% } %>          
<% } %>    
	
 


    <br><br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Notes</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>You must have a Google account before using this tool.</li>
                <li>Once logged in, you will be able to upload and analyze your sales data.</li>
            </ul>
        </div>
    </div>
</div><!-- /container -->


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="js/vendor/jquery.ui.widget.js"></script>
<!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!-- The main application script -->


<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
<!--[if (gte IE 8)&(lt IE 10)]>
<script src="js/cors/jquery.xdr-transport.js"></script>
<![endif]-->
</body> 
</html>
