<!DOCTYPE HTML>
<html lang="en">
<head>
<!-- Force latest IE rendering engine or ChromeFrame if installed -->
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<![endif]-->
<meta charset="utf-8">
<title>Mass Appraisal Soils</title>
<meta name="description" content="File Upload widget with multiple file selection, drag&amp;drop support, progress bars, validation and preview images, audio and video for jQuery. Supports cross-domain, chunked and resumable file uploads and client-side image resizing. Works with any server-side platform (PHP, Python, Ruby on Rails, Java, Node.js, Go etc.) that supports standard HTML form file uploads.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap styles -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-table.min.css">
 
<!--
 <link rel="stylesheet" href="css/blueimp-gallery.min.css">

<link rel="stylesheet" href="css/jquery.fileupload-ui.css">

 -->
<link rel="stylesheet" href="css/jquery.fileupload.css">
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->


<!-- CSS adjustments for browsers with JavaScript disabled -->
<!-- Generic page styles -->
<link rel="stylesheet" href="css/style.css">
<!-- CSS adjustments for browsers with JavaScript disabled -->

<style>
div.col-lg-2{padding-left:0}
td.col{font-weight:bold}
a.flt-right{float:right}
p.name{float:right}
table.summaryTable{height:60px}
#statsTable{font-size:small;}
#predictTable{display:none;}
/*
.fixed-table-header{display:none !important}
.fixed-table-container{height:auto !important;}
*/
li.disabled{color:gray}
.jumbotron{padding-top:18px !important;padding-bottom:18px !important;}
#addBtn{float:right}
#summaryTable{display:none}
</style>
<script>
<% if(tableName){ %>
sessionStorage.setItem("tablename", "<%= tableName %>");
<% } %>
</script>

</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-fixed-top .navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Mass Appraisal Soils Analyzer</a>
        </div>
        <div class="navbar-collapse collapse">
					<p class='name'>Logged in as: <a href='/account'><%= user.displayName %></a> &nbsp;&nbsp;<a href='/logout'>Logout</a></p>        </div>
    </div>
</div>

<div class="container">

  <ol class="breadcrumb" style="float:left;display:inline">
  <li><a href="/">Home</a></li>
  <li class='disabled'>Upload files</li>
  <li class='disabled'>Load data</li>
  <li><a href="/summary">Summary</a></li>
  <!--<li><a href="/configure">Configure data</a></li>-->
  <li><a href="/correlation">Correlation matrix</a></li>
  <li><a href="/regression">Regression</a></li>
  <li><a href="/stepwise_regression">Stepwise regression</a></li>
  <li><a href="/residuals">Residuals</a></li>
  <li>Prediction</li>
	</ol>
<br><br>

    <div class="jumbotron">

	<div class="row">
	    <div class="col-md-4">
	        <h4>Predict sales prices using regression coefficients.</h4>
					To show predictions for parcels data, click the Add data button to upload a CSV (Comma separated values) file.
					<br><br>
					Note:  the CSV file must have columns using the same names shown in the formula shown on the right above the statistics table.
					<br><br>
					<input id='nosw' type='checkbox' <% if(ws){ %> checked='checked' <% } %> > Use full regression (non-stepwise) results
	    </div>
	    <div class="col-md-8">
	         <div id="summary"></div>
	         <br>
					<div style="width:300px">
						<table data-cache="false" id="statsTable" data-show-header="false">
						    <thead>
						        <tr>
						        	<th data-field="name"></th>
						          <th data-field="value" data-align="right"></th>
						        </tr>
						    </thead>
						</table>
					</div>
	       
	    </div>
	</div>                
</div><!-- end jumbotron -->



        <!--
            <a id='downloadLink' target=_blank href='#'><span class='btn-primary'>Download</span></a>
        </button>
         -->
         <!--
         <br><br>
         <div id="summary"></div>
         <br>
         
				<div style="width:300px">
					<table data-cache="false" data-show-header="false" id="statsTable">
					    <thead>
					        <tr>
					        	<th data-field="name"></th>
					          <th data-field="value" data-align="right"></th>
					        </tr>
					    </thead>
					</table>
				</div>
    </div>
		-->
    <div class='col-lg-2'>
        <a href="/residuals" class="btn btn-default btn-continue" id="previousBtn"><i class="glyphicon glyphicon-arrow-left"></i> Return to residuals </a>
    </div>

<!-- The fileinput-button span is used to style the file input field as button -->
    <span class="btn btn-success fileinput-button" style='float:right'>
        <i class="glyphicon glyphicon-plus"></i>
        <span>Add file</span>
        <!-- The file input field used as target for the file upload widget -->
        <input id="fileupload" type="file" name="files[]" multiple>
    </span>
    <br>
    <br>
<output id=list>
</output>

    <!-- The global progress bar -->
    <div id="progress" class="progress">
        <div class="progress-bar progress-bar-success"></div>
    </div>
    <!--<div id='loader'><img src="img/spinner_mac.gif"> Loading table.....  Please wait</div>-->
	<table data-height="400" data-url="" data-cache="false" id="summaryTable" data-side-pagination="client" data-pagination="true" data-page-list="[5, 10, 20, 50, 100, 200]">

	    <thead>
	        <tr>
	        </tr>
	    </thead>
	</table>


    <!-- The container for the uploaded files -->
<!--
    <div id="files" class="files">


<% if(files) { %>
<h4>Saved files</h4>
<table class='table'>
<th>Name</th><th>Size</th><th></th>
<% for(var i in files) { %>
   <tr>
   	 <td><%= files[i].name %></td>
  	 <td><%= files[i].size %></td>
     <td>
     <a href='/predict/<%= files[i].name %>/process' class="btn btn-primary start"> <i class="glyphicon glyphicon-save"></i> Download </a>
	   <a href="/predict/<%= files[i].name %>/delete" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Delete </a>
     </td>
   </tr>

<% } %>
</table>
<br><br>
<% } %>
    </div>
-->

	<div>
	<h4>Use the form below to calculate a single prediction.</h4>
		<div id='loader'><img src="img/spinner_mac.gif"> Loading table.....  Please wait</div>
		<form id="predictFrm">

      
			<table id="predictTable">
			</table>

<div class="alert alert-success" id="events-result">
    
</div>			
			<input class="btn btn-success" type='submit' value='Calculate'>
		</form>
	</div>

<!--
	<table data-cache="false" id="summaryTable1">
	</table>
-->
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Prediction Notes</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>Enter values for the variables that have been selected using stepwise regression</li>
                <li>Or upload an Excel, CSV or dbf file containing multiple rows of data containing the selected variables.  Note: the variable names must be identical in order to match the model.</li>
            </ul>
        </div>
    </div>
</div>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="js/vendor/jquery.ui.widget.js"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<!--
<script src="js/tmpl.min.js"></script>
-->
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<!--
<script src="js/jquery.iframe-transport.js"></script>
-->
<!-- The basic File Upload plugin -->
<!--
<script src="js/jquery.fileupload.js"></script>
-->
<!-- The File Upload processing plugin -->
<!--
<script src="js/jquery.fileupload-process.js"></script>
-->
<!-- The File Upload image preview & resize plugin -->
<!-- 
<script src="js/jquery.fileupload-image.js"></script>
<script src="js/jquery.fileupload-audio.js"></script>
<script src="js/jquery.fileupload-video.js"></script>
 -->
<!-- The File Upload audio preview plugin -->

<!-- The File Upload video preview plugin -->

<!-- The File Upload validation plugin -->
<!--
<script src="js/jquery.fileupload-validate.js"></script>
-->
<!-- The File Upload user interface plugin -->
<!--
<script src="js/jquery.fileupload-ui.js"></script>
-->
<script src="js/jquery.csv.js"></script>

<!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="js/bootstrap-table.min.js"></script>
<!-- The main application script -->
<script src="js/predict.js"></script>

<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
<!--[if (gte IE 8)&(lt IE 10)]>
<!--
<script src="js/cors/jquery.xdr-transport.js"></script>
-->
<![endif]-->
</body> 
</html>
